/* css document */
@charset "UTF-8";

@font-face {
    font-family: "calistoga-regular";
    src: url(fonts/Calistoga-Regular.ttf);
    font-weight: normal;
    font-style: normal; }

@font-face {
    font-family: "noto-regular";
    src: url(fonts/NotoSans-Regular.ttf);
    font-weight: normal;
    font-style: normal; }

@font-face {
    font-family: "noto-black";
    src: url(fonts/NotoSans-Black.ttf);
    font-weight: bolder;
    font-style: normal; }

@font-face {
    font-family: "noto-bold";
    src: url(fonts/NotoSans-Bold.ttf);
    font-weight: bold;
    font-style: normal; }

* {
    font-family: 'noto-regular', sans-serif;
    font-size: 1.125rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    list-style: none;
    text-decoration: none;
    text-align:left;
    margin: 0;
    padding:0;
    box-sizing: border-box;
    text-wrap: balance; }

h1 {
    color:#650873;
    font-family: 'calistoga-regular', serif;
    font-size: 3.75rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin:3vh; }

h2 {
    color:#650873;
    font-family: 'calistoga-regular', serif;
    font-size: 1.875rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin:1vh; }

h3 {
    color: #2B2D42;
    font-family: 'noto-bold', sans-serif;
    font-size: 1.5625rem;
    font-weight: 700;
    line-height: normal; }

footer small {
    color: #EDE9F5;
    font-size: 1rem; }

p {
    color: #2B2D42;
    line-height: 2rem;
    max-width: 800px; }

a {
    font-family: 'noto-black', sans-serif;
    color: #EDE9F5;
    font-size: 1.5625rem;
    font-style: normal;
    font-weight: 900;
    line-height: normal; }

/* css del index */

body {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    background-color: #EDE9F5; }

header {
    display: flex;
    width: 100%;
    height: 134px;
    padding: 40px 75px 40px 40px;
    justify-content: flex-end;
    align-items: center;
    gap: 30px;
    align-self: stretch;
    background: #2B2D42; }

nav {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: row;
    gap:4vh;
    width:100%;
    max-width:1800px;    
    height: 134px;
    padding: 40px 75px 40px 40px;}

main {
    display: flex;
    width: 100%;
    padding-bottom: 40px;
    flex-direction: column;
    align-items: center;
    gap: 40px;
    align-self: stretch; }

#hero {
    display: flex;
    width: 100%;
    height: 272px;
    padding: 50px 75px;
    align-items: center;
    flex-direction: row;
    background-image: url("img/hero-logo.png");
    background-size: 30px 34px;
    background-repeat: repeat;
    background-color: #EDE9F5; }

.ilustraciones {
    flex-direction: row;
    justify-content: center; }

.texto-ilustraciones {
    display: flex;
    width: 100%;
    max-width: 780px;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
    flex-shrink: 0;
    margin: 20px; }

.galeria-ilustraciones {
    display: flex;    
    width: 100%;
    max-width: 953px;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap; }

.diseño {
    display: flex;
    width: 100%;
    max-width: 1749px;
    flex-direction: column;
    align-items: center;
    align-content: center;
    gap: 20px; }

.galeria-diseños {
    display: flex
    width: 100%;
    max-width: 867;
    align-items: center;
    align-content: center;
    gap: 15px;
    flex-shrink: 0;
    align-self: stretch;
    flex-wrap: wrap;
    aspect-ratio: 57/53; }

footer {
    background: #2B2D42;
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    height: 104px;
    padding: 0 70px;
    align-self: stretch; }

ul {
    display: flex;
    padding: 10px 0;
    justify-content: flex-end;
    align-items: center;
    gap: 80px;}

li {
    display: flex;
    align-items: center;
    gap: 15px; }

img {
    max-width: 100%;
    height: auto;
    object-fit: cover; }

/* css del sobre mi */

.perfil {
    display: flex;
    align-items: flex-start;
    gap: 50px;
    align-self: stretch; }

.quien-soy {
    display: flex;
    width: 780px;
    flex-direction: column;
    align-items: center;
    gap: 45px; }

.botonera {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 31px;
    align-self: stretch; }

summary {
    color: #2B2D42;
    background-color: #A9AABC;
    padding: 10px;
    border-radius: 10px;
    font-family: 'noto-bold', sans-serif;
    font-size: 1.5625rem;
    font-weight: 700;
    line-height: normal; }


/* css del contacto */

input[type="text"], 
input[type="email"], 
input[type="tel"], 
textarea {
    width: 100%;
    height: 35px;
    background-color: #A9AABC;
    padding: 5px;
}

textarea {
    height: 100px; 
    resize: none;
}

input[type="checkbox"] {
    width: 20px;
    height: 20px;
}

input[type="submit"], 
input[type="reset"] {
    height: 40px;
    width: 140px;
    background-color: #A9AABC;
    color: #2B2D42;
    cursor: pointer;
    border: none;
}

.borrar {
    background-color: #A9AABC;}

.enviar {
    background-color: #A9AABC; }

.button-form  {
    height: 30px;
    width: 150;
    background-color: #A9AABC; 
    color: #2B2D42;}

.main-contacto {
    display: flex;
    flex-direction: row;
    width: 100%;
    min-height: 100vh;
    padding: 40px 20px;
    justify-content: space-around;
    align-items: flex-start;
    gap: 20px;
    box-sizing: border-box; }

.contacto {
    display: flex;
    width: 45%;
    flex-direction: column;
    align-items: flex-start;
    gap: 25px;
    flex-shrink: 0; }

.intereses {
    display: flex;
    width: 25%;
    flex-direction: column;
    align-items: flex-start;
    gap: 15px;
    flex-shrink: 0; }

.intereses form label {
    color: #2B2D42;
    font-family: 'noto-bold', sans-serif;
    font-size: 1.5625rem;
    font-weight: 700;
    line-height: normal;
    display: flex;
    align-items: center;
    gap: 10px; }

.botones {
    display: flex;
    width: 25%;
    flex-direction: column;
    align-items: center;
    gap: 40px;
    flex-shrink: 0; }

.main-contacto form {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px; }

/* css de galería */

.descripcion-diseño {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    gap: 42px;
    width: 100%;
    max-width: 1749px;
    margin: 0 auto;}

/* Responsive en 600px para el index */

@media screen and (max-width: 600px) {

    .galeria-diseños img {
        width: 100%;
        min-width: 276px;
        min-height: 170px; }

    .galeria-ilustraciones img  {
        width: 100%;
        min-width: 133px;
        min-height: 220px; }

        .galeria-diseños {
        flex-direction: column;
        padding: 20px;
        gap: 40px; }
    }

/* aplicación de positions para contacto.html */

.botones img  {
        position: relative;
        right: 50px;
    }

.botones input  {
        position: relative;
        left: 50px;
    }


.intereses {
        position: relative;
        top: 50px;
    }